@laker rc file Version 1.0
[Library]
analogADP = /dq3/qa/LEO/PACK/laker201212/share/adplib/32/analogADP.lib++
sourceADP = /dq3/qa/LEO/PACK/laker201212/share/adplib/32/sourceADP.lib++
borderADP = /dq3/qa/LEO/PACK/laker201212/share/adplib/32/borderADP.lib++
digitalADP = /dq3/qa/LEO/PACK/laker201212/share/adplib/32/digitalADP.lib++
cpu = ./cpu.lib++
lab = ./lab.lib++
PAD = ./PAD.lib++
new = /home/user/wrk/L1_Lab/new.lib++
[DataManagement]
DMToolType = unknown
DMAutoExcludeViewName = 
DMServerHost = localhost
DMServerPort = 80
DMAutoCheckOutCV = Prompt
DMAutoCheckInCV = Prompt
DMAutoCheckOutInFile = Prompt
[DisabledMessages]
version = 2023.06-2
[Form]
version = 2023.06-2
opendir.fm = 710,164,355,431
leoNewLibrary.fm = 330,267,382,459
leoCreateText.fm = 100,100,400,684
leoCrMCell.fm = 300,200,591,535
shareOpenDsg.fm = 100,137,764,394
leoSearch.fm = 100,100,668,401
openfile.fm = 761,114,723,535
leoTFReplace.fm = 100,174,512,605
leoDelCell.fm = 243,330,447,365
leoTFeBrowser.fm = 160,271,417,561
leoClsWndSaveCnf.fm = 100,137,656,263
leoMasterWnd.fm = 289,744,680,497
leoTFeWnd.fm = 929,411,1508,1274
leoDsgWnd.fm = 0,65,3834,1814
[General]
SyncDir = FALSE
KeepEnvValInRc = TRUE
AutoSyncLibMapFile = FALSE
[GridSetting]
cpu = 0.005 0.01 0.01 5 1
lab = 0.001 0.01 0.01 5 1
new = 0.001 0.01 0.01 5 1 
[ImportExport]
ImportFileFilter = *.db;*.gds;*.gz;*.Z
DefaultTechnologyFile = laker_demo.tf
ImportNewLibWithTechFile = TRUE
ImportReplaceExistTF = FALSE
ImportCaseSensitivity = Preserve
ImportLabelCase = Preserve
ImportStreamRenameMode = overwrite
MaxVerticesInPathPoly = 1024
ImportInstNameAsProp = TRUE
ImportInstNameAsPropNumber = 102
ImportNetNameAsProp = TRUE
ImportNetNameAsPropNumber = 102
ImportLogicInfoAsProp = FALSE
ImportLogicInfoAsPropNumber = 103
ImportMcellAsProp = FALSE
ImportMcellAsPropNumber = 104
ImportMcellIgnoreConflictMcell = FALSE
ImportPCell = FALSE
ImportSnapXYToResolution = FALSE
ImportDumpDesignTree = FALSE
ImportSaveInfoMsgToLogFile = FALSE
ImportSkipOver200VertexWarn = FALSE
ImportRefOtherLib = FALSE
ImportStreamInLayerOnly = FALSE
ImportCorrectNon90Inst = TRUE
ImportFilterPolyPath = FALSE
ImportLogInstLocation = FALSE
ImportRptZeroNegArrayPitch = FALSE
ImportLayerMapMode = Map
ImportGdsIgnoreDupLayerMap = FALSE
ImportForkChildProcess = FALSE
ImportLogErrorFile = 
ImportLayerMapFile = layer.map
ImportCellMapFile = 
ImportFontMapFile = 
ImportPropMapFile = 
ImportRefLibList = *
[Initial]
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapContactCenterGrid = FALSE
SnapCursorToMinorGridNum = 1.0
SnapCursorToMinorGrid = FALSE
SnapUserInputCoordinate = FALSE
[LeoEdit]
StretchIgnoreLogicInfo = FALSE
SetMirrorMethod = Justification CenterCenter
MoveIgnoreLogicInfo = FALSE
SetCreatePathBusWithSpace = FALSE
SetCreatePathAutoWidth = TRUE
SetCreatePathAutoDetectEdge = FALSE
SetCreatePathMaxContact = TRUE
SetCreatePathRouterOnGrid = FALSE
SetMergeSameNetOnly = FALSE
SetMergeMoveColPoint = FALSE
SetCreateInstanceAutoUpdatePitch = TRUE
MakeCellReplaceInst = TRUE
TextJustification = LowerLeft
TextFontType = Modern
ChopPathCenterLine = FALSE
ChopPathKeepExtendPathEnds = FALSE
GuardRingCornerContact = TRUE
CreateGuardRingFitToRectangle = FALSE
CreateGuardRingBy = CoRow
TextHeight = 1.0
KeepCopyArrayEntries = TRUE
SortDeviceNameList = FALSE
AreaSelectBy = Rectangle
AreaCondition = Enclose
[LeoPreference]
UserDispFile = 
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
VirtualTopStr = 
ShowExtensionLine = FALSE
InfixEditing = FALSE
RVE_StartingPath = 
PopUpInformation = FALSE
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
CreateDummyGate = FALSE
SetOpenCellCVType = 597
SetMaxDrawBoundary = FALSE
EqualResSheetResistance = 1.0
EqualResCornerRatio = 0.56
EqualResExtension = 0.0
RulerLabelFontHeight = 1.0
RulerLabelFont = Modern
DimensionMarkFontHeight = 1.0
DimensionMarkFont = Modern
SpareCellGroupColor = ID_BLUE2
SpareCellItemColor = ID_BLACK
SpareCellMatchCase = FALSE
SpareCellExpressions = TRUE
SpareAddMatchCase = FALSE
SpareAddExpressions = TRUE
SearchMatchCase = TRUE
SearchRegularExpressions = FALSE
SearchZoomToMatchedObj = TRUE
SetDistanceRulerStyle = 0
SetDistanceEdgeToEdge = TRUE
SetDelCellCatg = FALSE
SetDelCellCVType = 629
OpenBrowserWidth = 218 0 302 218
EIPDispLevel = 0
OpenCellCVMode = 1
AbutControlPCell = 
P2PSheetResFile = 
IoDefaultDirectory = 
DummyGateUserDefinedLength = 
LayerNameLength = 5
AlignSpacingRuleVal = 
CreatePathRuleVal = 
ConnCheckDisSpecifyNetName = FALSE
ConnCheckSpeedMode = TRUE
ConnCheckTraceAllVias = TRUE
ConnCheckHighlightMode = all
SetCopyCellCatg = FALSE
SetCopyCellByView = FALSE
CopyCellViewsCopy = All
CopyCellUpdateInst = NewCopied
CopyCellRenameRule = %C_%L
RemoveCellFromDM = FALSE
UpdateInstances = TRUE
NewLibraryWithTechFile = TRUE
NewLibDir = /home/user/wrk/L1_Lab
RemoveLibraryFromDM = FALSE
ConnectionRuleName = 
DefaultTechnologyFile = /home/user/wrk/L1_Lab/labNew.tf
ReplaceTechWithTechFile = TRUE
SetNewCellCatg = FALSE
SetNewCellCVType = 577
VirtualTop = FALSE
HierarchyDelimiter = /
SelectInfo = "%N [%I %I=%M ][%L layer=%L(%l) ][%P purpose=%P(%p)]"
RuleDrivenMode = NormalMode
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 5
AutoSave = 0
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowOrientSymbol = TRUE
ShowInstanceOrigin = FALSE
ShowInstanceAngle = FALSE
ShowInstAngleNum = 1
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowRulerWithMinResolution = FALSE
ShowSysPinOnEditingLevel = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
SysPinWithSysOutline = TRUE
SysPinWithSysStipple = FALSE
ShowAxisType = 1
LegacyErrorViewer = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
DimensionMarkUnit = None
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 0
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
StrokeKeyRadius = 0
RightClickCommandMenu = TRUE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
AlwaysConfirmEIPSave = FALSE
SyncCellUponEIP = FALSE
UpdateHierCVBBox = FALSE
CanAbutDevice = FALSE
CanStretchDevice = FALSE
EnablePushWire = TRUE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
ShowAlwaysReEvaluateDevice = TRUE
ShowNetNameTip = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
ShowFlightLineBySelection = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND 
OnLineExtractorFlyLineShowMerge = TRUE
MaxFlightLinesByNet = 100
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
DraglineDisplayStyle = nearest
FlightLineDisplayStyle = vv
FlightLineMode = wireplan
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
IoReportSelfIntersectingPolygons = FALSE
IllFlashPath = TRUE
IllDetailChecking = FALSE
PreSelTolerance = 0
SysPinWndWidth = 0
SysPinWndHeight = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
CheckSchTimeStampWhenOpen = FALSE
AutoCheckSchTimeStamp = FALSE
AutoCheckSchTimeStampInterval = 0
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
DummyGateNumbers = 2 1 1
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
DeleteTxDummyKeepGatePositon = TRUE
DeleteTxDummyOptimizeOD = FALSE
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
AutoMergeSplitTx = FALSE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
ReleaseTlrCTRouteLimitation = FALSE
ToolTipMaxChars = 32
PurposeStartCount = 1
EIPDimNeighbor = FALSE
DimColorLevel = 2
ReadOnlyOpenWarning = FALSE
TurnOnPnR = FALSE
MessageLineNum = 1
DRCOperMode = RuleDriven
DisableDBUDDBoolCmd = FALSE
[LeoWnd]
dsgwndsize = 3834 1814
layertblpos = 2
[SourceTcl]
[TclShell]
nLineSize = 50
