@laker rc file Version 1.0
[Library]
test = /home/user/wrk/standard_113/laker/test.lib++
test2 = /home/user/wrk/standard_113/laker/test2.lib++
test3 = /home/user/wrk/standard_113/laker/test3.lib++
t = /home/user/wrk/standard_113/laker/t.lib++
leon = /home/user/wrk/standard_113/laker/leon.lib++
[DataManagement]
DMToolType = unknown
DMAutoExcludeViewName = 
DMServerHost = localhost
DMServerPort = 80
DMAutoCheckOutCV = Prompt
DMAutoCheckInCV = Prompt
DMAutoCheckOutInFile = Prompt
[DisabledMessages]
version = 2023.06-2
[Form]
version = 2023.06-2
openfile.fm = 200,274,723,535
leoImport.fm = 400,110,429,708
leoTFeBrowser.fm = 649,442,417,561
leoTFeWnd.fm = 383,207,1037,795
leoCreateText.fm = 589,141,400,684
leoExport.fm = 330,114,469,723
leoNewLibrary.fm = 330,267,382,459
leoRenCell.fm = 330,267,451,417
leoSetupGrid.fm = 100,100,639,608
leoCopyCell.fm = 330,267,910,532
leoSelGrpByName.fm = 200,387,248,293
leoSummary.fm = 100,100,612,536
leoCrDevice.fm = 300,200,680,593
leoCorrectOffGrid.fm = 100,100,427,406
shareOpenDsg.fm = 802,445,764,394
leoCreateArray.fm = 680,248,680,562
leoDelCell.fm = 372,509,447,424
opendir.fm = 120,120,355,389
leoCopyLib.fm = 330,267,324,363
leoClsWndSaveCnf.fm = 100,100,656,263
leoSpecNetName.fm = 120,120,335,273
leoMasterWnd.fm = 1167,497,821,507
leoDsgWnd.fm = 0,65,2554,1814
[General]
SyncDir = FALSE
KeepEnvValInRc = TRUE
AutoSyncLibMapFile = FALSE
[GridSetting]
test2 = 0.001 0.01 0.01 5 1
t = 0.001 0.01 0.01 5 1
test = 0.001 0.05 0.05 5 1 
leon = 0.001 0.05 0.05 5 1 
[ImportExport]
ImportFileFilter = *.db;*.gds;*.gz;*.Z
LayerMapFilter = *.map
DefaultTechnologyFile = /home/user/wrk/standard_113/laker/standard.tf
ImportNewLibWithTechFile = TRUE
ImportReplaceExistTF = FALSE
ImportCaseSensitivity = Preserve
ImportLabelCase = Preserve
ImportStreamRenameMode = overwrite
MaxVerticesInPathPoly = 4096
ImportInstNameAsProp = TRUE
ImportInstNameAsPropNumber = 102
ImportNetNameAsProp = TRUE
ImportNetNameAsPropNumber = 102
ImportLogicInfoAsProp = FALSE
ImportLogicInfoAsPropNumber = 103
ImportMcellAsProp = FALSE
ImportMcellAsPropNumber = 104
ImportMcellIgnoreConflictMcell = FALSE
ImportPCell = FALSE
ImportSnapXYToResolution = FALSE
ImportDumpDesignTree = FALSE
ImportSaveInfoMsgToLogFile = FALSE
ImportSkipOver200VertexWarn = FALSE
ImportRefOtherLib = FALSE
ImportStreamInLayerOnly = FALSE
ImportCorrectNon90Inst = FALSE
ImportFilterPolyPath = FALSE
ImportLogInstLocation = FALSE
ImportRptZeroNegArrayPitch = FALSE
ImportLayerMapMode = Filter
ImportGdsIgnoreDupLayerMap = FALSE
ImportForkChildProcess = FALSE
ImportLogErrorFile = 
ImportLayerMapFile = /home/user/wrk/standard_113/laker/layer.map
ImportCellMapFile = 
ImportFontMapFile = 
ImportPropMapFile = 
ImportRefLibList = *
ImportToSameLib = TRUE
ExportLogErrorFile = 
ExportLayerMapFile = 
ExportCellMapFile = 
ExportFontMapFile = 
ExportPropMapFile = 
ExportDILayerMapFile = 
ExportCaseSensitivity = Preserve
ExportTextCaseSensitivity = Preserve
ExportRenameMode = TRUE
ExportDuplicatedCellsAppend = library
ExportMaxCellNameLength = FALSE
ExportMaxCellNameLengthNumber = 32
ExportLevelRange = FALSE
ExportLevelRangeValue = 0-49
ExportInstNameToProp = FALSE
ExportInstNameToPropNumber = 102
ExportNetNameToProp = FALSE
ExportNetNameToPropNumber = 102
ExportLogicInfoToProp = FALSE
ExportLogicInfoToPropNumber = 103
ExportMcellToProp = FALSE
ExportMcellToPropNumber = 104
MergeReferenceLibrary = TRUE
ExportSnapXYToResolution = FALSE
ExportDumpDesignTree = FALSE
ExportLogInstLocation = FALSE
ExportRptZeroNegArrayPitch = FALSE
ExportSaveInfoMsgToLogFile = FALSE
ExportSkipOver200VertexWarn = FALSE
ExportFilterPolyPath = FALSE
ExportFilterText = FALSE
ExportFilterDummyCell = TRUE
ExportFilterDummyInst = FALSE
ExportRenameModifiedPCell = FALSE
ExportFilterSysLayer = All
ExportPolygonText = FALSE
ExportPathToPolygon = FALSE
ExportPurposeMap = TRUE
ExportPCell = FALSE
ExportDesignIntention = FALSE
ExportDIIncludeOriginLayers = TRUE
ExportMaxAryColRow = FALSE
ExportPrecisionForMag = 5
ExportForkChildProcess = FALSE
ExportCon3Layer = FALSE
ExportSmashPDevice = FALSE
ExportLayerMapMode = Map
ExportAbsCellView = Off
SmashMcell = ExpCont
[Initial]
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapContactCenterGrid = FALSE
SnapCursorToMinorGridNum = 1.0
SnapCursorToMinorGrid = FALSE
SnapUserInputCoordinate = FALSE
[LeoEdit]
PasteJustification = Original
PasteStickWndJustification = CellTemplate Left GroundLower
TextJustification = CenterCenter
TextFontType = Modern
TextHeight = 0.3
LayerGenScope = select
LayerGenSelect = new
LayerGenLayerSetting = OR {ref} {ref} {ref}
PADTextHeight = 10.0
PADTextShrinkFactor = 1.0
YankClippingObject = TRUE
KeepCopyArrayEntries = TRUE
SetCreatePathBusWithSpace = FALSE
SetCreatePathAutoWidth = TRUE
SetCreatePathAutoDetectEdge = FALSE
SetCreatePathMaxContact = TRUE
SetCreatePathRouterOnGrid = FALSE
RouteStatus = Fixed
RouteType = None
SetCreatePathType = Truncate
ChopPathCenterLine = FALSE
ChopPathKeepExtendPathEnds = FALSE
SetMirrorMethod = Justification CenterCenter
SetMergeSameNetOnly = FALSE
SetMergeMoveColPoint = FALSE
StretchIgnoreLogicInfo = FALSE
MoveIgnoreLogicInfo = FALSE
SetCreateInstanceAutoUpdatePitch = TRUE
SetCreateInstanceCheckLoops = TRUE
SetCreateInstanceJustification = Origin
SetCreateInstanceLibName = test
SetCreateInstanceCellName = INVX1
SetCreateInstanceViewName = layout
SortDeviceNameList = FALSE
AreaSelectBy = Rectangle
AreaCondition = Enclose
[LeoPreference]
UserDispFile = 
VirtualTopStr = 
RVE_StartingPath = 
AbutControlPCell = 
ConnectionRuleName = 
P2PSheetResFile = 
IoDefaultDirectory = 
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
DummyGateUserDefinedLength = 
LayerNameLength = 5
AlignSpacingRuleVal = 
CreatePathRuleVal = 
SetMaxDrawBoundary = FALSE
ReduceMCell = FALSE
ReduceDevice = FALSE
DefaultTechnologyFile = /home/user/wrk/standard_113/laker/standard.tf
NewLibraryWithTechFile = TRUE
NewLibDir = /home/user/wrk/standard_113/laker
UpdateInstances = TRUE
SetCopyCellCatg = FALSE
SetCopyCellByView = FALSE
CopyCellViewsCopy = All
CopyCellUpdateInst = NewCopied
CopyCellRenameRule = %C_%L
ShowErrorFlagTip = FALSE
InfixEditing = FALSE
PopUpInformation = FALSE
IgnoreMOSBulk = FALSE
OpenCellCVMode = 0
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
OpenBrowserWidth = 218 0 302 218
viaGroup = MCell
RuleDrivenTune = 5
SetDistanceRulerStyle = 0
SetDistanceSnapMode = AnyAngle
SetDistanceEdgeToEdge = TRUE
SetNewCellCatg = FALSE
SetNewCellCVType = 577
CopyLibDir = /home/user/wrk/standard_113/laker
ConnCheckDisSpecifyNetName = FALSE
ConnCheckSpeedMode = TRUE
VirtualTop = FALSE
HierarchyDelimiter = /
SelectInfo = "%N [%Z Netname=%Z ][%I %I=][%M Lib(%b) Cell(%M) View(%w)][ %L layer=%L(%l)][ %P purpose=%P(%p)][%R Actual Layer %R(%Q)]"
RuleDrivenMode = NormalMode
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 10
AutoSave = 300
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowOrientSymbol = TRUE
ShowInstanceOrigin = FALSE
ShowInstanceAngle = FALSE
ShowInstAngleNum = 1
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowRulerWithMinResolution = FALSE
ShowSysPinOnEditingLevel = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
SysPinWithSysOutline = TRUE
SysPinWithSysStipple = FALSE
ShowAxisType = 1
LegacyErrorViewer = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
DimensionMarkUnit = None
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 25000
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
StrokeKeyRadius = 0
RightClickCommandMenu = TRUE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
AlwaysConfirmEIPSave = FALSE
SyncCellUponEIP = FALSE
UpdateHierCVBBox = FALSE
CanAbutDevice = FALSE
CanStretchDevice = FALSE
EnablePushWire = TRUE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
ShowAlwaysReEvaluateDevice = TRUE
ShowNetNameTip = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
ShowFlightLineBySelection = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND 
OnLineExtractorFlyLineShowMerge = TRUE
MaxFlightLinesByNet = 100
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
DraglineDisplayStyle = nearest
FlightLineDisplayStyle = vv
FlightLineMode = wireplan
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
IoReportSelfIntersectingPolygons = FALSE
IllFlashPath = TRUE
IllDetailChecking = FALSE
PreSelTolerance = 0
SysPinWndWidth = 0
SysPinWndHeight = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
CheckSchTimeStampWhenOpen = FALSE
AutoCheckSchTimeStamp = FALSE
AutoCheckSchTimeStampInterval = 0
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
DummyGateNumbers = 2 1 1
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
DeleteTxDummyKeepGatePositon = TRUE
DeleteTxDummyOptimizeOD = FALSE
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
AutoMergeSplitTx = FALSE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
ReleaseTlrCTRouteLimitation = FALSE
ToolTipMaxChars = 32
PurposeStartCount = 1
EIPDimNeighbor = FALSE
DimColorLevel = 2
ReadOnlyOpenWarning = FALSE
TurnOnPnR = FALSE
MessageLineNum = 1
DRCOperMode = RuleDriven
DisableDBUDDBoolCmd = FALSE
[LeoWnd]
layertblpos = 2
dsgwndsize = 2554 1814
[Print]
PrinterName = lp
FileName = DFFQX1.ps
ColorPrint = FALSE
BlackBackground = FALSE
[QtDialog]
SelectObjects = 1049,746,436,297
[SourceTcl]
[SystemLayer]
Ruler = SystemLayer yellow 65 yellow 65 blank 7 line_solid 0 1
[TclShell]
nLineSize = 50
