@laker rc file Version 1.0
[Library]
lab1 = ./lab1.lib++
cpu = ./cpu.lib++
[DisabledMessages]
version = 3.2v1p1
[Form]
version = 3.2v1p1
leoLMEWnd.fm = 53,51,656,500
leoCopyLib.fm = 334,253,260,349
leoClsWndSaveCnf.fm = 104,123,656,263
shareOpenDsg.fm = 187,172,524,371
leoDsgWnd.fm = 49,106,622,578
leoDeleteLib.fm = 334,253,278,294
leoDelCellCnf.fm = 104,123,250,297
leoDelCell.fm = 334,253,367,362
leoMasterWnd.fm = 88,69,500,347
[General]
SyncDir = FALSE
[GridSetting]
cpuu = 0.005 0.01 0.01 5 1
cpu = 0.005 0.01 0.01 5 1
lab1 = 0.001 0.01 0.01 5 1 
[Initial]
SnapContactCenterGrid = FALSE
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapCursorToMinorGridNum = 1.0
SnapCursorToMinorGrid = FALSE
[LeoEdit]
StretchIgnoreLogicInfo = FALSE
SetMirrorMethod = Justification CenterCenter
MoveIgnoreLogicInfo = FALSE
SetCreatePathBusWithSpace = FALSE
SetCreatePathAutoWidth = TRUE
SetCreatePathAutoDetectEdge = FALSE
SetCreatePathMaxContact = TRUE
SetCreatePathRouterOnGrid = FALSE
SetMergeSameNetOnly = FALSE
SetMergeMoveColPoint = FALSE
SetCreateInstanceAutoUpdatePitch = TRUE
MakeCellReplaceInst = TRUE
TextJustification = LowerLeft
TextFontType = Modern
ChopPathCenterLine = FALSE
[LeoPreference]
UserDispFile = 
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
VirtualTopStr = 
RVE_StartingPath = 
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
AutoMergeSplitTx = FALSE
SetOpenCellCVType = 597
SetMaxDrawBoundary = FALSE
SetNewCellCatg = FALSE
EqualResSheetResistance = 1.0
EqualResCornerRatio = 0.56
EqualResExtension = 0.0
RulerLabelFontHeight = 1.0
RulerLabelFont = Modern
DimensionMarkFontHeight = 1.0
DimensionMarkFont = Modern
DefaultTechnologyFile = /sales/home/nathan_lee/BASIC_T/L1/train_lab/lab1/lab1.tf
ReplaceTechWithTechFile = TRUE
SpareCellGroupColor = ID_BLUE2
SpareCellItemColor = ID_BLACK
SpareCellMatchCase = FALSE
SpareCellExpressions = TRUE
SpareAddMatchCase = FALSE
SpareAddExpressions = TRUE
SearchMatchCase = TRUE
SearchRegularExpressions = FALSE
SearchZoomToMatchedObj = TRUE
SetNewCellCVType = 577
SetDistanceRulerStyle = 0
SetDistanceEdgeToEdge = TRUE
SetDelCellCatg = FALSE
SetDelCellCVType = 1661
VirtualTop = FALSE
HierarchyDelimiter = /
SelectInfo = "%N [%I %I=%M ][%L layer=%L(%l) ][%P purpose=%P(%p)]"
RuleDrivenMode = NormalMode
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 5
AutoSave = 0
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowInstanceOrigin = FALSE
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowExtensionLine = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
ShowAxisType = 1
InfixEditing = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 0
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND 
OnLineExtractorFlyLineShowMerge = TRUE
PopUpInformation = FALSE
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
PreSelTolerance = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
CreateDummyGate = FALSE
DummyGateNumbers = 2 1 1
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
[LeoWnd]
layertblpos = 2
dsgwndsize = 622 578
[TclShell]
nLineSize = 50
