@laker rc file Version 1.0
[Library]
lab = ./lab.lib++
[DataManagement]
DMToolType = unknown
DMAutoExcludeViewName = 
DMServerHost = localhost
DMServerPort = 80
DMAutoCheckOutCV = Prompt
DMAutoCheckInCV = Prompt
DMAutoCheckOutInFile = Prompt
[DisabledMessages]
version = 2009.09
[Form]
version = 2009.09
leoDelCellCnf.fm = 108,160,244,270
leoDeleteLib.fm = 334,260,278,322
leoDelCell.fm = 334,260,445,394
openfile.fm = 100,100,723,535
leoLMEWnd.fm = 54,54,656,500
shareOpenDsg.fm = 112,190,762,394
leoTFReplace.fm = 108,160,384,524
leoMasterWnd.fm = 301,140,500,347
[General]
SyncDir = FALSE
AutoSyncLibMapFile = FALSE
[GridSetting]
lab = 0.001 0.01 0.01 5 1
[GridSetting.lab.RoutingTrack]
MET1,drawing = 0.4 0.4 0.3 0.3 3 TRUE TRUE
MET2,drawing = 0.5 0.5 0.3 0.3 4 TRUE TRUE
[ImportExport]
ExportCaseSensitivity = Preserve
ExportTextCaseSensitivity = Preserve
ExportRenameMode = TRUE
ExportDuplicatedCellsAppend = library
ExportLogErrorFile = 
ExportLayerMapFile = 
ExportCellMapFile = 
ExportFontMapFile = 
ExportPropMapFile = 
ExportMaxCellNameLength = FALSE
ExportMaxCellNameLengthNumber = 32
ExportLevelRange = TRUE
ExportLevelRangeValue = 0-49
ExportInstNameToProp = FALSE
ExportInstNameToPropNumber = 102
ExportNetNameToProp = FALSE
ExportNetNameToPropNumber = 102
ExportLogicInfoToProp = FALSE
ExportLogicInfoToPropNumber = 103
ExportMcellToProp = FALSE
ExportMcellToPropNumber = 104
MaxVerticesInPathPoly = 1024
MergeReferenceLibrary = TRUE
ExportSnapXYToResolution = FALSE
ExportDumpDesignTree = FALSE
ExportLogInstLocation = FALSE
ExportRptZeroNegArrayPitch = FALSE
ExportSaveInfoMsgToLogFile = FALSE
ExportSkipOver200VertexWarn = FALSE
ExportFilterPolyPath = FALSE
ExportFilterDummyCellInst = FALSE
ExportRenameModifiedPCell = FALSE
ExportFilterSystemPin = TRUE
ExportPolygonText = FALSE
ExportPCell = FALSE
ExportDesignIntention = FALSE
ExportDILayerMapFile = 
ExportDIIncludeOriginLayers = TRUE
ExportForkChildProcess = FALSE
ExportCon3Layer = FALSE
ExportSmashPDevice = FALSE
ExportLayerMapMode = Map
ExportAbsCellView = Off
SmashMcell = ExpCont
[Initial]
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapContactCenterGrid = FALSE
SnapCursorToMinorGridNum = 5.0
SnapCursorToMinorGrid = TRUE
[LeoEdit]
TextJustification = CenterCenter
TextFontType = Modern
StretchIgnoreLogicInfo = FALSE
SetCreateInstanceAutoUpdatePitch = TRUE
SetCreatePathBusWithSpace = FALSE
SetCreatePathAutoWidth = TRUE
SetCreatePathAutoDetectEdge = FALSE
SetCreatePathMaxContact = TRUE
SetCreatePathRouterOnGrid = FALSE
SameasBodyWidth = FALSE
GuardRingCornerContact = TRUE
CreateGuardRingFitToRectangle = FALSE
MoveIgnoreLogicInfo = FALSE
SortDeviceNameList = FALSE
AreaSelectBy = Rectangle
AreaCondition = Enclose
[LeoPreference]
UserDispFile = 
NewLibraryWithTechFile = TRUE
VirtualTopStr = 
RVE_StartingPath = 
AbutControlPCell = 
IoDefaultDirectory = 
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
DummyGateUserDefinedLength = 
LayerNameLength = 5
AlignSpacingRuleVal = 
SetMaxDrawBoundary = FALSE
SetNewCellCatg = FALSE
IllFlashPath = TRUE
IllDetailChecking = FALSE
CreatePathRuleVal = 
RuleDrivenTune = 5
SetDistanceEdgeToEdge = TRUE
SetDistanceRulerStyle = 0
ReduceMCell = FALSE
ConnCheckDisSpecifyNetName = FALSE
ConnCheckSpeedMode = TRUE
SetDelCellByView = TRUE
SetDelCellCatg = FALSE
SetDelCellCVType = 625
RemoveCellFromDM = FALSE
RemoveLibraryFromDM = FALSE
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
OpenBrowserWidth = 217 0 302 217
DefaultTechnologyFile = ./basic_slide.tf
ReplaceTechWithTechFile = TRUE
VirtualTop = FALSE
HierarchyDelimiter = /
SelectInfo = "%N [%Z Netname=%Z ][%I %I =][%M %M][%L layer=%L(%l) ][%P purpose=%P(%p)]"
RuleDrivenMode = RuleDriven
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 1
AutoSave = 0
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowOrientSymbol = TRUE
ShowInstanceOrigin = FALSE
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowExtensionLine = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
SysPinWithSysOutline = TRUE
SysPinWithSysStipple = FALSE
ShowAxisType = 1
InfixEditing = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 0
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
AlwaysConfirmEIPSave = FALSE
CanAbutDevice = FALSE
CanStretchDevice = FALSE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
ShowFlightLineBySelection = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND 
OnLineExtractorFlyLineShowMerge = TRUE
PopUpInformation = FALSE
MaxFlightLinesByNet = 100
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
DraglineDisplayStyle = nearest
FlightLineDisplayStyle = vv
FlightLineMode = wireplan
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
IoReportSelfIntersectingPolygons = FALSE
PreSelTolerance = 0
SysPinWndWidth = 0
SysPinWndHeight = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
CheckSchTimeStampWhenOpen = FALSE
AutoCheckSchTimeStamp = FALSE
AutoCheckSchTimeStampInterval = 0
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
DummyGateNumbers = 2 1 1
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
DeleteTxDummyKeepGatePositon = TRUE
DeleteTxDummyOptimizeOD = FALSE
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
AutoMergeSplitTx = FALSE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
PurposeStartCount = 1
ReadOnlyOpenWarning = FALSE
TurnOnPnR = FALSE
[LeoWnd]
layertblpos = 2
dsgwndsize = 940 576
[NetRouter]
SetListOpenNet = FALSE
SetCheckNetStatus = FALSE
[SourceTcl]
[TclShell]
nLineSize = 50
[leoEdit]
CreateMaxAutoContactNum = TRUE
