@laker rc file Version 1.0
[Library]
analogADP = /dq3/qa/LEO/PACK/laker201212/share/adplib/32/analogADP.lib++
sourceADP = /dq3/qa/LEO/PACK/laker201212/share/adplib/32/sourceADP.lib++
borderADP = /dq3/qa/LEO/PACK/laker201212/share/adplib/32/borderADP.lib++
digitalADP = /dq3/qa/LEO/PACK/laker201212/share/adplib/32/digitalADP.lib++
cpu = ./cpu.lib++
lab = ./lab.lib++
PAD = ./PAD.lib++
new = /home/user/wrk/L1_Lab/new.lib++
gds = /home/user/wrk/L1_Lab/gds.lib++
[DataManagement]
DMToolType = unknown
DMServerHost = localhost
DMServerPort = 80
DMAutoCheckOutCV = Prompt
DMAutoCheckInCV = Prompt
DMAutoCheckOutInFile = Prompt
DMAutoExcludeViewName = 
[DisabledMessages]
version = 2023.06-2
[Form]
version = 2023.06-2
leoMasterWnd.fm = 219,261,680,497
openfile.fm = 761,151,723,535
opendir.fm = 710,164,355,431
leoNewLibrary.fm = 330,267,382,459
leoDelCell.fm = 243,330,447,365
leoCreateText.fm = 100,100,400,684
leoCrMCell.fm = 300,200,591,535
shareOpenDsg.fm = 100,174,764,394
leoSearch.fm = 100,100,668,401
leoDsgWnd.fm = 9,35,1914,772
leoClsWndSaveCnf.fm = 100,137,656,263
leoTFeWnd.fm = 929,411,1508,1274
leoTFeBrowser.fm = 160,271,417,561
leoTFReplace.fm = 100,174,512,605
leoImport.fm = 330,304,429,708
leoCreateArray.fm = 300,200,680,562
[General]
SyncDir = FALSE
KeepEnvValInRc = TRUE
AutoSyncLibMapFile = FALSE
[GridSetting]
cpu = 0.005 0.01 0.01 5 1 
lab = 0.001 0.01 0.01 5 1
new = 0.001 0.01 0.01 5 1
PAD = 0.001 0.01 0.01 5 1 
digitalADP = 0.001 0.01 0.01 5 1 
[ImportExport]
ImportFileFilter = *.db;*.gds;*.gz;*.Z
DefaultTechnologyFile = /home/user/wrk/L1_Lab/laker_demo.tf
ImportNewLibWithTechFile = TRUE
ImportReplaceExistTF = FALSE
ImportCaseSensitivity = Preserve
ImportLabelCase = Preserve
ImportStreamRenameMode = overwrite
MaxVerticesInPathPoly = 1024
ImportInstNameAsProp = TRUE
ImportInstNameAsPropNumber = 102
ImportNetNameAsProp = TRUE
ImportNetNameAsPropNumber = 102
ImportLogicInfoAsProp = FALSE
ImportLogicInfoAsPropNumber = 103
ImportMcellAsProp = FALSE
ImportMcellAsPropNumber = 104
ImportMcellIgnoreConflictMcell = FALSE
ImportPCell = FALSE
ImportSnapXYToResolution = FALSE
ImportDumpDesignTree = FALSE
ImportSaveInfoMsgToLogFile = FALSE
ImportSkipOver200VertexWarn = FALSE
ImportRefOtherLib = FALSE
ImportStreamInLayerOnly = FALSE
ImportCorrectNon90Inst = TRUE
ImportFilterPolyPath = FALSE
ImportLogInstLocation = FALSE
ImportRptZeroNegArrayPitch = FALSE
ImportLayerMapMode = Map
ImportGdsIgnoreDupLayerMap = FALSE
ImportForkChildProcess = FALSE
ImportLogErrorFile = 
ImportLayerMapFile = layer.map
ImportCellMapFile = 
ImportFontMapFile = 
ImportPropMapFile = 
ImportRefLibList = *
ImportToSameLib = TRUE
ExportCaseSensitivity = Preserve
ExportTextCaseSensitivity = Preserve
ExportRenameMode = TRUE
ExportDuplicatedCellsAppend = library
ExportLogErrorFile = 
ExportLayerMapFile = 
ExportCellMapFile = 
ExportFontMapFile = 
ExportPropMapFile = 
ExportMaxCellNameLength = FALSE
ExportMaxCellNameLengthNumber = 32
ExportLevelRange = FALSE
ExportLevelRangeValue = 0-49
ExportInstNameToProp = FALSE
ExportInstNameToPropNumber = 102
ExportNetNameToProp = FALSE
ExportNetNameToPropNumber = 102
ExportLogicInfoToProp = FALSE
ExportLogicInfoToPropNumber = 103
ExportMcellToProp = FALSE
ExportMcellToPropNumber = 104
MergeReferenceLibrary = TRUE
ExportSnapXYToResolution = FALSE
ExportDumpDesignTree = FALSE
ExportLogInstLocation = FALSE
ExportRptZeroNegArrayPitch = FALSE
ExportSaveInfoMsgToLogFile = FALSE
ExportSkipOver200VertexWarn = FALSE
ExportFilterPolyPath = FALSE
ExportFilterText = FALSE
ExportFilterDummyCell = FALSE
ExportFilterDummyInst = FALSE
ExportRenameModifiedPCell = FALSE
ExportFilterSysLayer = All
ExportPolygonText = FALSE
ExportPathToPolygon = FALSE
ExportPurposeMap = TRUE
ExportPCell = FALSE
ExportDesignIntention = FALSE
ExportDILayerMapFile = 
ExportDIIncludeOriginLayers = TRUE
ExportMaxAryColRow = FALSE
ExportPrecisionForMag = 5
ExportForkChildProcess = FALSE
ExportCon3Layer = FALSE
ExportSmashPDevice = FALSE
ExportLayerMapMode = Map
ExportAbsCellView = Off
SmashMcell = ExpCont
[Initial]
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapContactCenterGrid = FALSE
SnapCursorToMinorGridNum = 1.0
SnapCursorToMinorGrid = FALSE
SnapUserInputCoordinate = FALSE
[LeoEdit]
StretchIgnoreLogicInfo = FALSE
SetMirrorMethod = Justification CenterCenter
MoveIgnoreLogicInfo = FALSE
SetCreatePathBusWithSpace = FALSE
SetCreatePathAutoWidth = TRUE
SetCreatePathAutoDetectEdge = FALSE
SetCreatePathMaxContact = TRUE
SetCreatePathRouterOnGrid = FALSE
SetMergeSameNetOnly = FALSE
SetMergeMoveColPoint = FALSE
SetCreateInstanceAutoUpdatePitch = TRUE
MakeCellReplaceInst = TRUE
TextJustification = LowerLeft
TextFontType = Modern
ChopPathCenterLine = FALSE
ChopPathKeepExtendPathEnds = FALSE
GuardRingCornerContact = TRUE
CreateGuardRingFitToRectangle = FALSE
CreateGuardRingBy = CoRow
SortDeviceNameList = FALSE
AreaSelectBy = Rectangle
AreaCondition = Enclose
TextHeight = 1.0
KeepCopyArrayEntries = TRUE
PADAreaSize = 
PADAreaSize2 = 
SetCreateInstanceCheckLoops = TRUE
SetCreateInstanceJustification = Origin
SetCreateInstanceLibName = cpu
SetCreateInstanceCellName = AN2D1
SetCreateInstanceViewName = layout
PADTextHeight = 5.0
PADTextShrinkFactor = 1.0
[LeoPreference]
UserDispFile = 
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
VirtualTop = FALSE
VirtualTopStr = 
HierarchyDelimiter = /
SelectInfo = "%N [%I %I=%M ][%L layer=%L(%l) ][%P purpose=%P(%p)]"
RuleDrivenMode = NormalMode
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 5
AutoSave = 0
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowInstanceOrigin = FALSE
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowExtensionLine = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
ShowAxisType = 1
InfixEditing = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 0
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
RVE_StartingPath = 
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND 
OnLineExtractorFlyLineShowMerge = TRUE
PopUpInformation = FALSE
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
PreSelTolerance = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
CreateDummyGate = FALSE
DummyGateNumbers = 2 1 1
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
AutoMergeSplitTx = FALSE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
SetOpenCellCVType = 597
SetMaxDrawBoundary = FALSE
SetNewCellCatg = FALSE
EqualResSheetResistance = 1.0
EqualResCornerRatio = 0.56
EqualResExtension = 0.0
RulerLabelFontHeight = 1.0
RulerLabelFont = Modern
DimensionMarkFontHeight = 1.0
DimensionMarkFont = Modern
DefaultTechnologyFile = /home/user/wrk/L1_Lab/labNew.tf
ReplaceTechWithTechFile = TRUE
SpareCellGroupColor = ID_BLUE2
SpareCellItemColor = ID_BLACK
SpareCellMatchCase = FALSE
SpareCellExpressions = TRUE
SpareAddMatchCase = FALSE
SpareAddExpressions = TRUE
SearchMatchCase = TRUE
SearchRegularExpressions = FALSE
SearchZoomToMatchedObj = TRUE
SetNewCellCVType = 577
SetDistanceRulerStyle = 0
SetDistanceEdgeToEdge = TRUE
SetDelCellCatg = FALSE
SetDelCellCVType = 629
OpenBrowserWidth = 218 0 302 218
EIPDispLevel = 0
OpenCellCVMode = 1
ShowOrientSymbol = TRUE
ShowRulerWithMinResolution = FALSE
SysPinWithSysOutline = TRUE
SysPinWithSysStipple = FALSE
LegacyErrorViewer = FALSE
DimensionMarkUnit = None
StrokeKeyRadius = 0
RightClickCommandMenu = TRUE
AlwaysConfirmEIPSave = FALSE
AbutControlPCell = 
CanAbutDevice = FALSE
CanStretchDevice = FALSE
ShowAlwaysReEvaluateDevice = TRUE
ShowNetNameTip = FALSE
ShowFlightLineBySelection = TRUE
MaxFlightLinesByNet = 100
DraglineDisplayStyle = nearest
FlightLineDisplayStyle = vv
FlightLineMode = wireplan
P2PSheetResFile = 
IoDefaultDirectory = 
IoReportSelfIntersectingPolygons = FALSE
IllFlashPath = TRUE
IllDetailChecking = FALSE
SysPinWndWidth = 0
SysPinWndHeight = 0
CheckSchTimeStampWhenOpen = FALSE
AutoCheckSchTimeStamp = FALSE
AutoCheckSchTimeStampInterval = 0
DummyGateUserDefinedLength = 
DeleteTxDummyKeepGatePositon = TRUE
DeleteTxDummyOptimizeOD = FALSE
ReleaseTlrCTRouteLimitation = FALSE
LayerNameLength = 5
ToolTipMaxChars = 32
PurposeStartCount = 1
AlignSpacingRuleVal = 
CreatePathRuleVal = 
EIPDimNeighbor = FALSE
DimColorLevel = 2
ReadOnlyOpenWarning = FALSE
TurnOnPnR = FALSE
MessageLineNum = 1
DRCOperMode = RuleDriven
ConnCheckDisSpecifyNetName = FALSE
ConnCheckSpeedMode = TRUE
ConnCheckTraceAllVias = TRUE
ConnCheckHighlightMode = all
SetCopyCellCatg = FALSE
SetCopyCellByView = FALSE
CopyCellViewsCopy = All
CopyCellUpdateInst = NewCopied
CopyCellRenameRule = %C_%L
RemoveCellFromDM = FALSE
UpdateInstances = TRUE
NewLibraryWithTechFile = TRUE
NewLibDir = /home/user/wrk/L1_Lab
RemoveLibraryFromDM = FALSE
ShowInstanceAngle = FALSE
ShowInstAngleNum = 1
ShowSysPinOnEditingLevel = FALSE
SyncCellUponEIP = FALSE
UpdateHierCVBBox = FALSE
EnablePushWire = TRUE
ConnectionRuleName = 
DisableDBUDDBoolCmd = FALSE
ReduceMCell = FALSE
ReduceDevice = FALSE
[LeoWnd]
dsgwndsize = 1914 772
layertblpos = 2
[SourceTcl]
[TclShell]
nLineSize = 50
