@laker rc file Version 1.0
[Library]
lab = ./lab.lib++
example = ./example.lib++
lab1 = /home/user/wrk/tf_basic_lab/lab1.lib++
lab2 = /home/user/wrk/tf_basic_lab/lab2.lib++
lab3 = /home/user/wrk/tf_basic_lab/lab3.lib++
labA = /home/user/wrk/tf_basic_lab/labA.lib++
labNew = /home/user/wrk/tf_basic_lab/labNew.lib++
[DataManagement]
DMToolType = unknown
DMAutoExcludeViewName = 
DMServerHost = localhost
DMServerPort = 80
DMAutoCheckOutCV = Prompt
DMAutoCheckInCV = Prompt
DMAutoCheckOutInFile = Prompt
[DisabledMessages]
version = 2023.06-2
[Form]
version = 2023.06-2
openfile.fm = 100,137,723,535
opendir.fm = 100,100,355,431
leoNewLibrary.fm = 330,341,382,459
leoTFReplace.fm = 93,134,512,605
leoUDDImportGC.fm = 100,137,330,345
leoReuseCell.fm = 330,267,681,420
leoDelCell.fm = 330,267,447,365
leoLMEWnd.fm = 270,119,1157,650
leoTFDump.fm = 428,603,499,494
shareOpenDsg.fm = 388,550,762,394
leoOpenDsg.fm = 450,230,460,365
leoCreateText.fm = 100,100,400,684
leoSearch.fm = 100,100,668,313
leoDsgWnd.fm = 9,35,1920,977
leoTFeBrowser.fm = 447,481,417,561
leoClsWndSaveCnf.fm = 100,137,656,263
leoMasterWnd.fm = 0,65,3840,2057
leoTFeWnd.fm = 414,28,1109,977
[General]
SyncDir = FALSE
KeepEnvValInRc = TRUE
AutoSyncLibMapFile = FALSE
[GridSetting]
lab = 0.001 0.01 0.01 5 1
example = 0.001 0.001 0.001 5 1
lab3 = 0.001 0.001 0.001 5 1
labNew = 0.001 0.001 0.001 5 1 
[GridSetting.lab.RoutingTrack]
MET1,drawing = 0.4 0.4 0.3 0.3 3 TRUE TRUE
MET2,drawing = 0.5 0.5 0.3 0.3 4 TRUE TRUE
[ImportExport]
ExportCaseSensitivity = Preserve
ExportTextCaseSensitivity = Preserve
ExportRenameMode = TRUE
ExportDuplicatedCellsAppend = library
ExportLogErrorFile = 
ExportLayerMapFile = 
ExportCellMapFile = 
ExportFontMapFile = 
ExportPropMapFile = 
ExportMaxCellNameLength = FALSE
ExportMaxCellNameLengthNumber = 32
ExportLevelRange = TRUE
ExportLevelRangeValue = 0-49
ExportInstNameToProp = FALSE
ExportInstNameToPropNumber = 102
ExportNetNameToProp = FALSE
ExportNetNameToPropNumber = 102
ExportLogicInfoToProp = FALSE
ExportLogicInfoToPropNumber = 103
ExportMcellToProp = FALSE
ExportMcellToPropNumber = 104
MaxVerticesInPathPoly = 1024
MergeReferenceLibrary = TRUE
ExportSnapXYToResolution = FALSE
ExportDumpDesignTree = FALSE
ExportLogInstLocation = FALSE
ExportRptZeroNegArrayPitch = FALSE
ExportSaveInfoMsgToLogFile = FALSE
ExportSkipOver200VertexWarn = FALSE
ExportFilterPolyPath = FALSE
ExportFilterDummyCellInst = FALSE
ExportRenameModifiedPCell = FALSE
ExportFilterSystemPin = TRUE
ExportPolygonText = FALSE
ExportPCell = FALSE
ExportDesignIntention = FALSE
ExportDILayerMapFile = 
ExportDIIncludeOriginLayers = TRUE
ExportForkChildProcess = FALSE
ExportCon3Layer = FALSE
ExportSmashPDevice = FALSE
ExportLayerMapMode = Map
ExportAbsCellView = Off
SmashMcell = ExpCont
LEFDEFOutAdditionalLayerPurOBS = 
LEFDEFOutCellMapFile = 
LEFMapFile = 
LEFDEFOutLogErrorFile = 
LEFDEFOutOrthoPolyDirection = Y
LEFDEFOutConvertFactor = 1000
LEFVersion = None
LEFDEFOutCutToRect = FALSE
LEFDEFOutOrthoPolyStep = 0.1
LEFOutEdgeStep = TRUE
LEFDEFOutSnapXY = FALSE
LEFOutWithHeader = TRUE
LEFOutMultiplePort = FALSE
LEFOutMultiplePortForPinShape = FALSE
LEFOutSkipPowerGroundAntennaArea = FALSE
LEFDEFOutForkChildProcess = FALSE
[Initial]
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapContactCenterGrid = FALSE
SnapCursorToMinorGridNum = 5.0
SnapCursorToMinorGrid = FALSE
SnapUserInputCoordinate = FALSE
[LeoEdit]
SetCreateInstanceAutoUpdatePitch = TRUE
SameasBodyWidth = FALSE
GuardRingCornerContact = TRUE
CreateGuardRingFitToRectangle = FALSE
ResistorContactOnDummy = FALSE
ResistorConnectType = Resistor
AutoContactMinContact = AtLeastOneColumnRow
AutoContactMinContactNumber = 1
AutoContactDirection = horizontal
AutoContactMinEnclosureSet = FALSE
AutoContactAlign = CenterCenter
AutoContactSplitContactDevice = TRUE
CreateGuardRingBy = CoRow
AssignNetPortMode = GenPinBorder
GenPinExcludePolyShape = FALSE
GenPinCheckTopMetalLayer = FALSE
GenPinTopMetalLayer = 1
GenPinThruVia = FALSE
GenPinPinSize = FALSE
GenPinWidth = 0.000000
AssignNetExistInSchematic = TRUE
AutoChopGuardRingMetSpace = 1.000000
SetMergeSameNetOnly = FALSE
SetMergeMoveColPoint = FALSE
KeepCopyArrayEntries = TRUE
TextJustification = CenterCenter
TextFontType = Modern
TextHeight = 0.1
MoveIgnoreLogicInfo = FALSE
StretchIgnoreLogicInfo = FALSE
SetCreatePathBusWithSpace = FALSE
SetCreatePathAutoWidth = TRUE
SetCreatePathAutoDetectEdge = FALSE
SetCreatePathMaxContact = TRUE
SetCreatePathRouterOnGrid = FALSE
RouteStatus = Fixed
RouteType = None
SetCreatePathType = Truncate
SortDeviceNameList = FALSE
AreaSelectBy = Rectangle
AreaCondition = Enclose
[LeoPreference]
UserDispFile = 
NewLibraryWithTechFile = TRUE
VirtualTopStr = 
ShowExtensionLine = FALSE
InfixEditing = FALSE
RVE_StartingPath = 
AbutControlPCell = 
PopUpInformation = FALSE
IoDefaultDirectory = 
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
DummyGateUserDefinedLength = 
LayerNameLength = 5
AlignSpacingRuleVal = 
DefaultTechnologyFile = /home/user/wrk/tf_basic_lab/basic.tf
SetMaxDrawBoundary = FALSE
SetNewCellCatg = FALSE
ReplaceTechWithTechFile = TRUE
CreatePathRuleVal = 
RuleDrivenTune = 5
SetDistanceEdgeToEdge = TRUE
SetDistanceRulerStyle = 0
ReduceMCell = FALSE
ConnCheckDisSpecifyNetName = FALSE
ConnCheckSpeedMode = TRUE
SetDelCellByView = TRUE
SetDelCellCatg = FALSE
SetDelCellCVType = 625
RemoveCellFromDM = FALSE
RemoveLibraryFromDM = FALSE
P2PSheetResFile = 
NewLibDir = /home/user/wrk/tf_basic_lab
SetDistanceSnapMode = AnyAngle
SetCopyCellCatg = FALSE
SetCopyCellByView = FALSE
CopyCellViewsCopy = All
CopyCellUpdateInst = NewCopied
CopyCellRenameRule = %C_%L
ConnectionRuleName = 
IgnoreMOSBulk = FALSE
SetNewCellCVType = 577
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
OpenBrowserWidth = 217 0 302 217
OpenCellCVMode = 1
viaGroup = MCell
SearchMatchCase = TRUE
SearchRegularExpressions = TRUE
SearchZoomToMatchedObj = TRUE
VirtualTop = FALSE
HierarchyDelimiter = /
SelectInfo = "%N [%Z Netname=%Z ][%I %I =][%M %M][%L layer=%L(%l) ][%P purpose=%P(%p)]"
RuleDrivenMode = RuleDriven
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 5
AutoSave = 1200
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowOrientSymbol = TRUE
ShowInstanceOrigin = FALSE
ShowInstanceAngle = FALSE
ShowInstAngleNum = 1
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowRulerWithMinResolution = FALSE
ShowSysPinOnEditingLevel = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
SysPinWithSysOutline = TRUE
SysPinWithSysStipple = FALSE
ShowAxisType = 1
LegacyErrorViewer = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
DimensionMarkUnit = None
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 0
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
StrokeKeyRadius = 0
RightClickCommandMenu = TRUE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
AlwaysConfirmEIPSave = FALSE
SyncCellUponEIP = FALSE
UpdateHierCVBBox = FALSE
CanAbutDevice = FALSE
CanStretchDevice = FALSE
EnablePushWire = TRUE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
ShowAlwaysReEvaluateDevice = TRUE
ShowNetNameTip = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
ShowFlightLineBySelection = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND 
OnLineExtractorFlyLineShowMerge = TRUE
MaxFlightLinesByNet = 100
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
DraglineDisplayStyle = nearest
FlightLineDisplayStyle = vv
FlightLineMode = wireplan
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
IoReportSelfIntersectingPolygons = FALSE
IllFlashPath = TRUE
IllDetailChecking = FALSE
PreSelTolerance = 0
SysPinWndWidth = 0
SysPinWndHeight = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
CheckSchTimeStampWhenOpen = FALSE
AutoCheckSchTimeStamp = FALSE
AutoCheckSchTimeStampInterval = 0
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
DummyGateNumbers = 2 1 1
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
DeleteTxDummyKeepGatePositon = TRUE
DeleteTxDummyOptimizeOD = FALSE
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
AutoMergeSplitTx = TRUE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
ReleaseTlrCTRouteLimitation = FALSE
ToolTipMaxChars = 32
PurposeStartCount = 1
EIPDimNeighbor = FALSE
DimColorLevel = 2
ReadOnlyOpenWarning = FALSE
TurnOnPnR = FALSE
MessageLineNum = 1
DRCOperMode = RuleDriven
DisableDBUDDBoolCmd = FALSE
[LeoWnd]
layertblpos = 2
dsgwndsize = 1920 977
[NetRouter]
SetListOpenNet = FALSE
SetCheckNetStatus = FALSE
[SourceTcl]
[TclShell]
nLineSize = 50
[leoEdit]
CreateMaxAutoContactNum = TRUE
